.header[data-v-251b3767] {
  height: 160px;
  position: relative;
  background: url(../../static/img/bgc.1c6f5c8a.png) no-repeat 100% 10%;
}
.header > .header_content[data-v-251b3767] {
  position: absolute;
  left: 20px;
  bottom: -40px;
  width: 90%;
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu > .menu_ul[data-v-251b3767] {
  border-radius: 5px;
  background-color: #fff;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.menu_ul > li[data-v-251b3767] {
  border-bottom: 1px solid #eaeff3;
}
.footer[data-v-251b3767] {
  width: 100%;
  position: absolute;
  bottom: 20px;
}
