.tisp[data-v-6fbca0d4] {
  color: #999;
  font-size: 12px;
}
.wrapper[data-v-6fbca0d4] {
  height: 100%;
}
.block[data-v-6fbca0d4],
.wrapper[data-v-6fbca0d4] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.block[data-v-6fbca0d4] {
  width: 120px;
  height: 120px;
  color: #fff;
}
.van-loading__text[data-v-6fbca0d4] {
  color: #fff;
}
