.cr[data-v-73717576] {
  color: #9aa3a3;
}
.spBor[data-v-73717576] {
  border: 1px solid #9aa3a3;
}
.wrapper[data-v-73717576] {
  height: 100%;
}
.block[data-v-73717576],
.wrapper[data-v-73717576] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.block[data-v-73717576] {
  width: 120px;
  height: 120px;
  color: #fff;
}
.van-loading__text[data-v-73717576] {
  color: #fff;
}
#pdfZJ[data-v-73717576] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.close[data-v-73717576] {
  top: 60px;
  font-size: 14px;
  color: red;
}
.close[data-v-73717576],
.num1[data-v-73717576] {
  position: fixed;
  z-index: 9999;
  right: 20px;
  font-weight: 600;
}
.num1[data-v-73717576] {
  top: 40%;
}
.num1[data-v-73717576],
.num2[data-v-73717576] {
  font-size: 12px;
  color: #2bb7b3;
  border: 1px solid #2bb7b3;
  border-radius: 5px;
  padding: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.num2[data-v-73717576] {
  position: fixed;
  z-index: 9999;
  top: 50%;
  right: 20px;
  font-weight: 600;
}
.pdfDiv[data-v-73717576] {
  height: 100%;
  background-color: #fff;
}
